<div class="alert alert-success m-3 flex-between" role="alert" id="alert-success" style="display: none">
	<span class="alert-content"></span>

	<div role="button" class="close text-decoration-none flex-center ms-3" type="buton">
		<span class="material-symbols-rounded fs-6">close</span>
	</div>
</div>
<div class="alert alert-danger m-3 flex-between" role="alert" id="alert-danger" style="display: none">
	<span class="alert-content"></span>

	<div role="button" class="close text-decoration-none flex-center ms-3" type="buton">
		<span class="material-symbols-rounded fs-6">close</span>
	</div>
</div>
