// custom bootstrap colors
$primary: #000;
$secondary: #ffffff;
$dark: $primary;
$light: $secondary;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light
);
@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/variables.scss';
@import 'bootstrap/scss/variables-dark.scss';

// override bootstrap variables here
$body-bg: $secondary;
$body-bg-dark: $primary;

@import 'bootstrap/scss/bootstrap';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body,
#root {
  font-family: 'Montserrat', sans-serif;
  // height: 100vh;
}

// other scss files 
@import 'style.scss';

// utility style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// better to use role="button"
.cursor-pointer {
  cursor: pointer;
}

.ratio-1 {
  aspect-ratio: 1;
}

.ratio-16-9 {
  aspect-ratio: 16/9;
}

.cover {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}

.rotate-90 {
  rotate: 90deg;
}

.rotate-n90 {
  rotate: -90deg;
}

.rotate-180 {
  rotate: 180deg;
}

.rotate-n180 {
  rotate: -180deg;
}

.pointer-events-none {
  pointer-events: none;
}

// @for $i from 0 through 10 {
//   .delay-#{$i} {
//     transition-delay: #{($i)}s !important;
//   }
// }

// INTRO
.intro {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  transition: opacity .3s ease-in-out;
}