{% extends 'base.html.twig' %}

{% set page_name = "Contact" %}
{% set menu = "cms_contact" %}

{# Configurations DataTable #}
{% set data_url = path('admin_cms_contact_index') %}
{% set sorting_default = [[3, "desc"]] |json_encode %}

{% block title %}
	{{ page_name }}
{% endblock %}

{% block body %}
	<div class="bg-body rounded p-4">
		<div class="row align-items-center justify-content-between mb-4">
			<div class="col-12 col-md-auto">
				<h1 class="fs-4 mb-0">Demandes de contact</h1>
			</div>
		</div>
        {% include 'components/datatable/datatable_base.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>

	<script>
	</script>
{% endblock %}