<div class="modal-header">
	<div class="d-flex align-items-center justify-content-between w-100">
		<h4 class="card-head mb-0">Confirmer</h4>
		<div class="flex-between">
			<div role="button" class="text-decoration-none flex-center" type="buton" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-title="Fermer" data-bs-placement="bottom">
				<span class="material-symbols-rounded fs-6">close</span>
			</div>
		</div>
	</div>
</div>
<div class="modal-body">    
	<form id="form-delete-project-category" action="{{ path('admin_cms_projects_delete_category', {'id': category.id}) }}">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
		<div class="card-body bg-body">
			{{ message ? message : 'Voulez-vous vraiment effectuer cette suppression ?' }}
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-dark me-2" form="form-delete-project-category" type="submit">Supprimer</button>
</div>

