<div class="card bg-body">
	<form action="{{ path('admin_cms_projects_delete', {'id': video.id}) }}">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
		<div class="card-header bg-body">
			<div class="d-flex align-items-center justify-content-between">
				<h4 class="card-head mb-0">Confirmer</h4>
				<div class="flex-between">
					<div role="button" class="text-decoration-none flex-center" type="buton" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-title="Fermer" data-bs-placement="bottom">
						<span class="material-symbols-rounded fs-6">close</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body bg-body">
			{{ message ? message: 'Voulez-vous vraiment effectuer cette suppression ?' }}
		</div>
		<div class="card-footer bg-body">
			<div class="d-flex">
				<button class="btn btn-danger me-2">Supprimer</button>
			</div>
		</div>
	</form>
</div>
