{% extends 'base.html.twig' %}

{% set page_name = "Nos projets" %}
{% set menu = "cms_projects" %}

{# Configurations DataTable #}
{% set data_url = path('admin_cms_projects_index') %}
{% set sorting_default = [[0, 1], "asc"] |json_encode %}

{% block title %}
	{{ page_name }}
{% endblock %}

{% block body %}
	<div class="bg-body rounded p-4">
		<div class="row align-items-center justify-content-between mb-4">
			<div class="col-12 col-md-auto">
				<h1 class="fs-4 mb-0">{{ page_name is defined ? page_name : "" }}</h1>
			</div>			
			<div class="col-12 col-md-auto mt-2 mt-md-0">
				<button class="btn btn-primary openForm" data-url="{{ path('admin_cms_projects_form') }}">Ajouter une vidéo</button>
			</div>
		</div>
        {% include 'components/datatable/datatable_base.html.twig' %}
    </div>
{% endblock %}
