
<div class="card bg-body">
	<div class="card-header bg-body">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-head mb-0">{{form.vars.value.id is defined and form.vars.value.id is not null ? 'Modifier un utilisateur' : 'Ajouter un utilisateur'}}</h4>
            <div class="flex-between">
                <div role="button" class="text-decoration-none flex-center" type="buton" data-bs-dismiss="modal" data-bs-toggle="tooltip" data-bs-title="Fermer" data-bs-placement="bottom">
                    <span class="material-symbols-rounded fs-6">close</span>
                </div>
            </div>
        </div>
    </div>
	<div class="card-body bg-body">
        {{ include("user/_form.html.twig", {form: form}) }}
	</div>
</div>