{% extends "email/blank.html.twig" %}

{% block title %}
	Réinitialisation de votre mot de passe
{% endblock %}

{% block content %}
Bonjour {{ user ? user.firstname ~ ' ' ~ user.lastname : '' }},<br><br>
Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :<br><br>

<a href="{{ url('security_reset_password', {'token': token}) }}" style="color: {{PROJECT_PRIMARY_COLOR}};">Réinitialiser mon mot de passe</a><br><br>

Si vous n'avez pas demandé de réinitialisation de mot de passe, veuillez ignorer cet email.<br><br>

Cordialement,<br>
L'équipe {{PROJECT_NAME}}

{% endblock %}